@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

.form{

    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    left: 43%;
    top: 20%;
    
}

.form_form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #8791AB;

    width: 28%;
    
    gap: 40px;
    padding-top: 10%;
    padding-left: 2.4%;
    padding-right: 3%;
    padding-bottom: 11%;

    border-radius: 39px

}

.form_neto{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 5%;

    gap: 5px;
}

.inside_input{

    background-color: #D9D9D9;

    width: 265px;
    height: 50px;

    border-radius: 12px;
    border: none;

    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;

    padding-left: 10px;

    margin: 4%;
}

.inside_entrar{
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 21%;
    padding-right: 21%;

    border-radius: 10px;
    border: none;

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: none;
    font-weight: 800;
    font-style: normal;

    font-size: 16px;

    background-color: #c4e104;
    color: #032885

}

.entrar_b{
   
    margin-left: 25%;
}

.esqueceu{

    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: none;
    font-weight: 800;
    font-style: normal;

    color: #ffffff;

    padding-left: 25%;

    font-size: 14px;

    

}