*{
    box-sizing: border-box;
}

.cud-main{
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

}

.cud-header{
    width: 100%;
    height: 12%;
}

.cud-home-c{
    width: 100%;
    height: 100%;
}

.cud-corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.cud-preForm{
    display: flex;

    justify-content: center;
    align-items: flex-start;


    background-color: brown;
    width: 50%;
    height: 100%;
}

.cud-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    width: 50%;
    height: 100%;
}

.cud-input_Path{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
    margin-left: -14.5%;

    width: 100%;
    height: 7%;


}

.cud-inside_name{

}

.cud-input-tit{
    margin-top: -15%;
}

.cud-descricao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 100%;
    height: 40%;
    margin-top: 2%;

}

.cud-descricao_area{
    width: 75%;
    height: 95%;

   
    resize: none;
    outline: none;

    border: solid 2px #ffff;
    border-radius: 8px;

    padding-top: 2%;

    background-color: #62535373;

    
}

.cud_inside-glo{

  width: 60%;
  height: 75%;
  

  border-radius: 8px;
  border: solid 2px #ffff;
  background-color: #62535373;
  outline: none;
}


.global-txt{

    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: none;
    font-weight:300;
    font-style: regular;
    font-size: 15px;

    padding-left: 4%;
}

/* PSEUDO CLASSES */

.cud_inside-glo::placeholder{
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: none;
    font-weight:300;
    font-style: regular;
    font-size: 15px
}

.cud-descricao_area::placeholder{
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: none;
    font-weight:300;
    font-style: regular;
    font-size: 15px

}
